<DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
　<title>ChatSpace</title>
  <link  rel="stylesheet" href="application.scss">
</head>
<body>
  <header class="header">
    チャットグループが作成されました。
  </header>

  <div class="contents">

    <div class="left-content">
      <ul class="user">
        <li>fujimori kanta</li>
        <li class= "user__list"><a href=""><%= fa_icon('cog lg') %></a></li>
        <li class="user__list"><a href=""><%= fa_icon('pencil-square-o lg') %></a></li>
      </ul>
      <ul class="group">
        <li class="group__name">神
          <p>まだメッセージはありません</p></li>
        <li class="group__name">aaaaaa
          <p>まだメッセージはありません。</p>
        </li>
        <li class="group__name">sampleグループ
          <p>まだメッセージはありません。</p>
        </li>
      </ul>
    </div>

    <div class="right-content">
      <div class="group-name">
        <ul class="message">
          <li class="message__first"></li>
          <li class="message__second"></li>
        </ul>
      </div>
    </div>

    <div classs="bottom-content">
    </div>
  </div>
</body>
</html>



