<DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
　<title>ChatSpace</title>
  <link  rel="stylesheet" href="application.scss">
</head>
<body>
  <header class="header">
  </header>

  <div class="contents">

    <div class="left-content">
      <ul class="user">
        <li class="user__name">fujimori kanta</li>
        <li class="user__"></li>
        <li class= "user__"></li>
      </ul>
      <ul class="group">
        <li class="group__first"></li>
        <li class="group__second"></li>
      </ul>
    </div>

    <div class="right-content">
      <div class="group-name">
        <ul class="message">
          <li class="message__first"></li>
          <li class="message__second"></li>
        </ul>
      </div>
    </div>

    <div classs="bottom-content">
    </div>
  </div>
</body>
</html>



