
.wrapper
  %header.header
    チャットグループが作成されました。
  .contents
    .left-content
      %ul.user
        %li
          = current_user.name
        %li.user__list
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
        %li.user__list
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
      %ul.group
        %li.group__name
          神
          %p まだメッセージはありません
        %li.group__name
          aaaaaa
          %p まだメッセージはありません。
        %li.group__name
          sampleグループ
          %p まだメッセージはありません。
    .right-content
      .right-content__edit
        = link_to "Edit", ""
      %ul.group-tytle
        %li.group-tytle__name
          sampleグループ
        %li.group-tytle__member Members: fujimorikanta
      %ul.messages
        %li.message
          .chat-body
            %p.message__name fujimorikanta
            %p.message__time
              2018/12/16 06:23:20
          .chat-body
            %p.message__text
              hello
      %ul.messages
        %li.message
          .chat-body
            %p.message__name fujimorikanta
            %p.message__time
              2018/12/16 06:23:20
          .chat-body
            %p.message__text
              hello
      .bottom-content
        %form{action: "", method: "post"}
          .bottom-content__form
            %textarea.bottom-content__text{name: "text", placeholder: "type a message", row: "1"}
            %label
              %input{calss: "file_photo", style: "display:none", type: "file"}/
              %i.fa.fa-image
            %input.bottom-content__send{type: "submit", value: "Send"}/
