.left-content{
  display: block;
  background-color: #2f3e51;
  padding-top: 40px;
  height: 100%;
  float: left;
  width: 300px;
}
.user{
  list-style: none;
  font: 16px;
  background-color: #253141;
  width: 260px;
  line-height: 35px;
  color: $white;
  font-weight: bold;
  font-size: 16px;
  padding: 40px 20px 33px 20px;
  li{
    display: inline;
    }
  i{
    color: $white;
    font-size: 16px;
    }
  &__list{
      float: right;
      letter-spacing: 10px;
      }
}
.group{
  padding: 20px 0 0 20px;
  &__name{
    padding-bottom: 40px;
    font-size: 15px;
    color: $white;
    p{
      font-size: 11px;
      padding-top: 5px;
     }
    }
}
